<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" id="basic-layout-colored-form-control">Raw Product</h4>
            </div>
            <div class="card-body">
                <div class="px-3">
                    <form class="form" [formGroup]="rawProduct" (ngSubmit)="onSubmit(rawProduct)">
                        <div class="form-body">
                            <h4 class="form-section"><i class="ft-info"></i> Product Details</h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="raw_product_name">Product Name</label>
                                        <input type="text" formControlName="raw_product_name" id="raw_product_name" class="form-control border-primary" name="raw_product_name">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="raw_product_display_name">Product Display Name</label>
                                        <input type="text" formControlName="raw_product_display_name" id="raw_product_display_name" class="form-control border-primary" name="raw_product_display_name">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="raw_product_code">Product Code</label>
                                        <input type="text" formControlName="raw_product_code" id="raw_product_code" class="form-control border-primary" name="raw_product_code">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="raw_product_uom">UOM</label>
                                        <select class="form-control" formControlName="raw_product_uom" id="raw_product_uom">
                                          <option *ngFor="let uom of uoms" value="{{uom.id}}">{{uom.unit_name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="raw_product_conv_uom">Conv. UOM</label>
                                        <select class="form-control" formControlName="raw_product_conv_uom" id="raw_product_conv_uom">
                                            <option *ngFor="let uom of uoms" value="{{uom.id}}">{{uom.unit_name}}</option>
                                            </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="raw_product_conv_factor">Conv. Factor</label>
                                        <input type="number" formControlName="raw_product_conv_factor" id="raw_product_conv_factor" class="form-control border-primary" name="raw_product_conv_factor">
                                    </div>
                                </div>

                            </div>

                            <h4 class="form-section mt-1"><i class="ft-info"></i>Stock Management</h4>
                            <div class="row">
                                <div class="col-md-2">
                                    <!-- <div class="form-group">
                                        <label for="raw_product_batch_type">Batch Type</label>
                                        <select class="form-control" formControlName="raw_product_batch_type" id="raw_product_batch_type">
                                            <option>Yes</option>
                                            <option>No</option>
                                        </select>
                                    </div> -->
                                    <div class="form-group">
                                        <label for="raw_product_batch_type">Batch Type</label>
                                        <div class="btn-group btn-group-toggle btn-group-sm btn-raised" formControlName="raw_product_batch_type" ngbRadioGroup name="raw_product_batch_type">
                                            <label ngbButtonLabel class="btn-light btn-sm btn-raised">
                                                            <input ngbButton type="radio"  value="1"> Yes</label>
                                            <label ngbButtonLabel class="btn-light btn-sm btn-raised">
                                                            <input ngbButton type="radio" value="0"> No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <!-- <div class="form-group">
                                        <label for="raw_product_maintain_stock_ledger">Maintain Stock Ledger</label>
                                        <select class="form-control" formControlName="raw_product_maintain_stock_ledger" id="raw_product_maintain_stock_ledger">
                                              <option>Yes</option>
                                              <option>No</option>
                                            </select>
                                    </div> -->
                                    <div class="form-group">
                                        <label for="raw_product_maintain_stock_ledger">Maintain Stock Ledger</label>
                                        <div class="btn-group btn-group-toggle btn-group-sm btn-raised" formControlName="raw_product_maintain_stock_ledger" ngbRadioGroup name="raw_product_maintain_stock_ledger">
                                            <label ngbButtonLabel class="btn-light btn-sm btn-raised">
                                                        <input ngbButton type="radio"  value="1"> Yes</label>
                                            <label ngbButtonLabel class="btn-light btn-sm btn-raised">
                                                        <input ngbButton type="radio" value="0"> No</label>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="raw_product_store_location">Store Location</label>
                                        <input type="text" formControlName="raw_product_store_location" id="raw_product_store_location" class="form-control border-primary" name="raw_product_store">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="raw_product_opening_stock">Opening Stock</label>
                                        <input type="text" formControlName="raw_product_opening_stock" id="raw_product_opening_stock" class="form-control border-primary" name="raw_product_opening_stock">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="raw_product_opening_amount">Opening Amount</label>
                                        <input type="number" formControlName="raw_product_opening_amount" id="raw_product_opening_amount" class="form-control border-primary" name="raw_product_opening_amount">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="raw_product_rate_pick_from">Rate Pick From</label>
                                        <select class="form-control" formControlName="raw_product_rate_pick_from" id="raw_product_rate_pick_from">
                                                  <option>MRP Rates Standards</option>
                                                  <option>Sales Rates Standards</option>
                                                </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <h4 class="form-section mt-1"><i class="ft-info"></i>Item Price</h4>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="raw_product_purchase_rate">Purchase Rate</label>
                                                <input type="number" formControlName="raw_product_purchase_rate" id="raw_product_purchase_rate" class="form-control border-primary" name="raw_product_purchase_rate">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="raw_product_sales_rate">MRP Rate</label>
                                                <input type="number" formControlName="raw_product_mrp_rate" id="raw_product_sales_rate" class="form-control border-primary" name="raw_product_sales_rate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="raw_product_purchase_rate">Sales Rate</label>
                                                <input type="number" formControlName="raw_product_sales_rate" id="raw_product_purchase_rate" class="form-control border-primary" name="raw_product_purchase_rate">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="raw_product_gst_slot">GST Slot %</label>
                                                <select class="form-control" formControlName="raw_product_gst_slot" id="raw_product_gst_slot">
                                                                      <option>5</option>
                                                                      <option>12</option>
                                                                      <option>18</option>
                                                                      <option>28</option>
                                                                    </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <h4 class="form-section mt-1"><i class="ft-info"></i>Critical Level</h4>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="raw_product_max_level">Max Level</label>
                                                <input type="number" formControlName="raw_product_max_level" id="raw_product_max_level" class="form-control border-primary" name="raw_product_max_level">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="raw_product_min_level">Min Level</label>
                                                <input type="number" formControlName="raw_product_min_level" id="raw_product_min_level" class="form-control border-primary" name="raw_product_min_level">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="raw_product_reorder_level">Reorder Level</label>
                                                <input type="number" formControlName="raw_product_reorder_level" id="raw_product_reorder_level" class="form-control border-primary" name="raw_product_reorder_level">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <fieldset class="form-group">
                                        <label for="raw_product_description">Description</label>
                                        <textarea class="form-control" formControlName="raw_product_description" id="raw_product_description" name="raw_product_description" rows="3"></textarea>
                                    </fieldset>
                                </div>
                            </div>

                        </div>
                        <div class="form-actions left">
                            <input type="submit" [disabled]=isProcessing value="Save" class="btn btn-raised btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>