<div class="row">
	<div class="col-12">
	   		<!-- Kick start -->
			   <section id="lock-screen">
				<div class="container-fluid gradient-crystal-clear">
					<div class="row full-height-vh">
						<div class="col-12 d-flex align-items-center justify-content-center">
							<div class="card width-400">
								<div class="row">
									<div class="col-sm-8">
										<div class="card-title font-medium-5 pt-2 ml-2">Peter Andil</div>
									</div>
									<div class="col-sm-4">
										<div class="text-right card-img overlap">
											<img alt="avtar" class="mb-1" src="assets/img/portrait/avatars/avatar-03.png" width="150">
										</div>                   
									</div>
								</div>
								<div class="card-body">
									<div class="card-block">
										<form #f="ngForm" novalidate="">
											<div class="form-group mt-3">
												<h3 class="text-center text-uppercase text-bold-400">Unlock User</h3>
											</div>
											<div class="form-group pt-3">
											  <select class="form-control" id="stateSelect">
												<option>Select Option</option>
												<option>Maharashtra</option>
												<option>Gujarat</option>
												<option>Rajasthan</option>
											  </select>
											</div>
											<div class="form-group">
												<div class="text-center mt-3">
													<button type="button" class="btn btn-info btn-raised btn-lg py-1 mt-3 font-small-5 btn-block">Unlock</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			  </section>
		<!--/ Kick start -->
	</div>
</div>
<div class="row">
	<div class="col-12">
		<!-- Simple Card-->
	    <div id="simple-card" class="card">
	        <div class="card-header">
	            <h4 class="card-title">Simple Card</h4>
	        </div>
	        <div class="card-body">
	            <div class="card-block">
	                <div class="card-text">
	                    <h5>HTML Ipsum Presents</h5>
	                    <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
	                        semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean
	                        fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>
	                    <h6>Header Level 2</h6>

	                    <ol>
	                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
	                        <li>Aliquam tincidunt mauris eu risus.</li>
	                    </ol>

	                    <blockquote>
	                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada
	                            tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>
	                    </blockquote>

	                    <h3>Header Level 3</h3>

	                    <ul>
	                        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
	                        <li>Aliquam tincidunt mauris eu risus.</li>
	                    </ul>

	                    <dl>
	                        <dt>Definition list</dt>
	                        <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd>
	                        <dt>Lorem ipsum dolor sit amet</dt>
	                        <dd>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd>
	                    </dl>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!--/ Simple Card-->
	</div>
</div>