<div class="row">
  <div class="col-md-12">
      <div class="card">
          <div class="card-header">
              <h4 class="card-title" id="basic-layout-colored-form-control">Charges Master</h4>
          </div>
          <div class="card-body">
              <div class="px-3">
                  <form class="form" [formGroup]="chargeMaster" (ngSubmit)="onSubmit('chargeMaster')">
                      <div class="form-body">
                          <h4 class="form-section"><i class="ft-info"></i> Charges Details</h4>
                          <div class="row">
                              <div class="col-md-4">
                                  <div class="form-group">
                                      <label for="charges_master_display_name">Charge Name</label>
                                      <input type="text" formControlName="charges_master_display_name" id="charges_master_display_name" class="form-control border-primary" name="charges_master_display_name">
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="form-group">
                                      <label for="charges_master_charge_type">Charge Type</label>
                                      <select class="form-control" formControlName="charges_master_charge_type" id="charges_master_charge_type">
                                          <option>Excise Duty</option>
                                          <option>Cess</option>
                                          <option>Shec</option>
                                          <option>Tax</option>
                                          <option>Additional Tax</option>
                                          <option>Surcharge</option>
                                          <option>Freight</option>
                                          <option>Discount</option>
                                          <option>Cartage</option>
                                          <option>Entry Tax</option>
                                          <option>Insurance</option>
                                          <option>Packing</option>
                                          <option>Octroi</option>
                                          <option>Misc.</option>
                                        </select>
                                  </div>
                              </div>

                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                  <div class="form-group">
                                      <label for="charges_master_purchase_account">Purchase Account</label>
                                      <input type="number" formControlName="charges_master_purchase_account" id="charges_master_purchase_account" class="form-control border-primary" name="charges_master_purchase_account">
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="form-group">
                                      <label for="charges_master_sales_account">Sales Account</label>
                                      <input type="number" formControlName="charges_master_sales_account" id="charges_master_sales_account" class="form-control border-primary" name="charges_master_sales_account">
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                  <div class="form-group">
                                      <label for="raw_product_purchase_percentage">Percentage</label>
                                      <input type="number" formControlName="charges_master_purchase_account" id="raw_product_purchase_account" class="form-control border-primary" name="raw_product_purchase_account">
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="form-group">
                                      <label for="charges_master_decimal_place">Decimal Place</label>
                                      <input type="number" formControlName="charges_master_decimal_place" id="charges_master_decimal_place" class="form-control border-primary" name="charges_master_decimal_place">
                                  </div>
                              </div>
                          </div>

                      </div>
                      <div class="form-actions left">
                          <input type="submit" value="Save" class="btn btn-raised btn-primary">
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>

</div>