<section id="regestration">
  <div class="container">
    <div class="row full-height-vh">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card">
          <div class="card-body">
            <div class="row d-flex">
              <div class="col-12 col-sm-12 col-md-6 gradient-deep-orange-orange">
                <div class="card-block">
                  <div class="card-img overlap">
                    <img alt="Card image cap" src="../assets/img/elements/13.png" width="350" class="mx-auto d-block">
                  </div>
                  <h2 class="card-title font-large-1 text-center white mt-3">
                    Registration</h2>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-6 d-flex align-items-center">
                <div class="card-block mx-auto">
                  <div class="alert bg-danger alert-icon-left text-white" [hidden]="!errors" role='alert'>
                    {{errors}}
                  </div>
                  <form autocomplete="off" [formGroup]='user' (ngSubmit)=register(user)>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="icon-user"></i>
                        </span>
                      </div>
                      <input autocomplete="off" type="text" class="form-control" name="fname" id="fname"
                        formControlName='name' placeholder="Name" required>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="icon-user"></i>
                          </span>
                        </div>
                        <input autocomplete="off" type="text" class="form-control" name="display_name" id="display_name"
                          formControlName='display_name' placeholder="Display Name" required>
                      </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="ft-mail"></i>
                        </span>
                      </div>
                      <input autocomplete="off" type="email" class="form-control" name="inputEmail" id="inputEmail"
                        formControlName='email' placeholder="Email" required>
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="ft ft-phone"></i>
                        </span>
                      </div>
                      <input type="number" autocomplete="off" class="form-control" formControlName='mobile' name="pnumber"
                        id="pnumber" placeholder="Phone Number" required>
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="ft-lock"></i>
                        </span>
                      </div>
                      <input type="password" autocomplete="off" class="form-control" name="inputPass" formControlName='password'
                        id="inputPass" placeholder="Password" required>
                    </div>
                    <div class="form-group col-sm-offset-1">
                      <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                        <input type="checkbox" autocomplete="off" class="custom-control-input" checked id="terms">
                        <label class="custom-control-label pl-2" for="terms">I
                          agree <a>terms and conditions</a></label>
                      </div>
                    </div>
                    <div class="form-group text-center">
                      <button type="submit" class="btn btn-warning btn-raised">Get
                        Started
                      </button>
                    </div>

                    <div class="input-group mt-3">
                      <span>Already Registered? <a routerLink='/login'>Login</a></span>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
